/*===========================
     About Css
===========================*/
.about-section {
	.about-text,
	.video-text,
	.video-wrap {
		padding: 0 45px;
		@media #{$xs} {
			padding: 0;
		}
	}
	.about-img {
		@media #{$md} {
			margin-bottom: 40px;
		}
		@media #{$xs} {
			margin-bottom: 40px;
		}
	}
	.video-text {
		@media #{$md} {
			margin-bottom: 40px;
		}
		@media #{$xs} {
			margin-bottom: 40px;
		}
		h3 {
			font-size: 30px;
			margin-bottom: 35px;
			@media #{$lg} {
				font-size: 28px;
			}
			@media #{$xs} {
				font-size: 24px;
			}
			@media #{$tiny} {
				font-size: 20px;
			}
		}
		.watch-video-link {
			position: relative;
			color: $primary-color;
			font-family: $pop;
			font-size: 15px;
			font-weight: 700;
			display: inline-block;
			padding-bottom: 3px;
			margin-top: 40px;
			padding-right: 30px;
			&::after {
				content: '';
				position: absolute;
				left: 0;
				bottom: 0;
				width: calc(100% - 30px);
				height: 2px;
				background-color: $primary-color;
			}
			&::before {
				content: '\f144';
				position: absolute;
				right: 0;
				font-family: 'Font Awesome 5 Pro';
				font-weight: 400;
				font-size: 18px;
				top: 50%;
				transform: translateY(-50%);
			}
		}
	}
	.video-bg {
		width: 100%;
		height: 260px;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 1;
		&::before {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background-color: $secondary-color;
			opacity: 0.6;
			z-index: -1;
		}
		.popup-video {
			position: relative;
			height: 60px;
			width: 60px;
			border-radius: 50%;
			background-color: $white;
			color: $primary-color;
			line-height: 60px;
			text-align: center;
			&::before {
				position: absolute;
				content: '';
				left: 0;
				top: 0;
				height: 100%;
				width: 100%;
				border: 1px solid $white;
				animation: ripple-white 1s linear infinite;
				border-radius: 50%;
			}
			&::after {
				position: absolute;
				content: '';
				left: 0;
				top: 0;
				height: 100%;
				width: 100%;
				border: 1px solid$white;
				animation: ripple-white 1.5s linear infinite;
				border-radius: 50%;
			}
		}
	}
}

.about-section-two {
	background-color: #eff2f7;
	.about-left {
		position: relative;
		z-index: 1;
		@media #{$md} {
			margin-bottom: 100px;
		}
		&::after {
			position: absolute;
			content: '';
			right: -30px;
			bottom: -30px;
			width: 100%;
			height: 338px;
			background-color: #6cbe03;
			z-index: -1;
			@media #{$xs} {
				right: -15px;
				bottom: -15px;
			}
		}
		.about-tag {
			position: absolute;
			left: -95px;
			top: -70px;
			z-index: 2;
			@media only screen and (min-width: 1200px) and (max-width: 1400px) {
				left: -30px;
			}
			@media #{$lg} {
				left: -45px;
			}
			@media #{$xs} {
				left: -15px;
				top: -75px;
			}
		}
	}
	.about-text {
		padding-left: 25px;
		@media #{$xs} {
			margin-top: 60px;
		}
		@media #{$xxs} {
			padding-left: 0;
		}
		.chart-list {
			margin-top: 30px;
			.single-chart {
				display: flex;
				align-items: center;
				margin-bottom: 25px;
				@media #{$xxs} {
					display: block;
					text-align: center;
					margin-bottom: 40px;
				}
				&:last-child {
					margin-bottom: 0;
				}
				.chart {
					position: relative;
					.percent {
						position: absolute;
						left: 50%;
						top: 50%;
						transform: translate(-50%, -50%);
						font-family: $pop;
						font-weight: 700;
						font-size: 18px;
						color: $primary-color;
					}
				}
				.chart-desc {
					padding-left: 30px;
					@media #{$xxs} {
						padding-left: 0;
						padding-top: 20px;
					}
					h4 {
						margin-bottom: 15px;
						@media #{$xxs} {
							font-size: 18px;
						}
					}
				}
			}
		}
	}
}
