/*===========================
    Footer
===========================*/
footer {
	background-color: $heading-color;
	position: relative;
	z-index: 1;
	.footer-widget-area {
		p,
		a,
		& {
			color: #a9b2d5;
		}
		.widget {
			.widget-title {
				color: $white;
				line-height: 1.5;
				margin-bottom: 30px;
				font-weight: 600;
			}
			.social-link {
				margin-top: 35px;
				li {
					display: inline-block;
					margin-right: 8px;
					@media #{$lg} {
						margin-right: 4px;
					}
					@media #{$xs} {
						margin-right: 5px;
					}
					a {
						display: inline-block;
						height: 50px;
						width: 50px;
						line-height: 50px;
						text-align: center;
						background-color: #273157;
						font-size: 18px;
						color: #717fb2;
						@include transition(0.3s);
						&:hover {
							color: $white;
							background-color: #5798fe;
						}
						@media #{$lg} {
							height: 40px;
							width: 40px;
							line-height: 40px;
						}
						@media #{$xs} {
							height: 40px;
							width: 40px;
							font-size: 16px;
							line-height: 40px;
						}
					}
				}
			}
			&.nav-widget {
				ul li {
					line-height: 33px;
					a {
						@include transition(0.3s);
						i {
							font-size: 12px;
							margin-right: 5px;
						}
						&:hover {
							color: $primary-color;
						}
					}
				}
			}
			.contact-info {
				h3 {
					font-size: 30px;
					color: #dce3ff;
					font-weight: 500;
					line-height: 35px;
					margin-bottom: 25px;
					@media #{$tiny} {
						font-size: 24px;
						line-height: 30px;
					}
				}
				ul li {
					font-size: 18px;
					margin-bottom: 10px;
					@media #{$lg} {
						font-size: 14px;
					}
					i {
						color: $primary-color;
						margin-right: 10px;
					}
				}
			}
			&.instagram-widget {
				.insta-loop {
					display: grid;
					grid-template-rows: repeat(2, auto);
					grid-template-columns: repeat(3, 1fr);
					grid-gap: 10px;
					@media #{$md} {
						grid-template-columns: repeat(4, 1fr);
					}
					@media #{$xxs} {
						grid-template-columns: repeat(4, 1fr);
					}
					@media #{$sm} {
						grid-template-rows: repeat(1, auto);
						grid-template-columns: repeat(6, 1fr);
						grid-row-gap: 0;
					}
				}
			}
		}
	}
	.subscribe-form {
		.subs-inner {
			padding: 30px;
			background-color: $third-color;
			form {
				input {
					width: 100%;
					height: 80px;
					padding-left: 40px;
					background-color: $white;
					border: none;
					@media #{$md} {
						margin-bottom: 15px;
					}
					@media #{$xs} {
						margin-bottom: 15px;
					}
					@media #{$tiny} {
						height: 60px;
						padding-left: 20px;
					}
				}
				input,
				::placeholder {
					font-size: 16px;
					color: $text-color;
					@media #{$tiny} {
						font-size: 14px;
					}
				}
				button {
					height: 80px;
					width: 100%;
					background-color: $primary-color;
					color: $white;
					border: none;
					font-size: 15px;
					font-weight: 700;
					font-family: $pop;
					@media #{$tiny} {
						height: 60px;
						font-size: 14px;
					}
					i {
						margin-left: 10px;
						font-size: 12px;
					}
				}
			}
		}
	}
	.copyright-area {
		color: #9aacbb;
		font-size: 14px;
	}
	.footer-nav {
		ul {
			text-align: center;
			padding: 30px 0;
			border-top: 2px solid rgb(18, 26, 56);
			@media #{$xxs} {
				&::after {
					display: block;
					clear: both;
					content: '';
				}
			}
			li {
				display: inline-block;
				margin: 0 25px;
				@media #{$md} {
					margin: 0px 15px;
				}
				@media #{$sm} {
					margin: 0px 10px;
				}
				@media #{$xxs} {
					width: 50%;
					float: left;
					margin: 0;
					margin-bottom: 10px;
					&::after {
						display: block;
						clear: both;
						content: '';
					}
				}
				a {
					color: $white;
					font-size: 18px;
					font-weight: 500;
					font-family: $rub;
					line-height: 30px;
					@include transition(0.3s);
					i {
						margin-left: 5px;
					}
				}
				&.active,
				&:hover {
					a {
						color: $primary-color;
					}
				}
			}
		}
	}
	&::after {
		position: absolute;
		right: 0;
		bottom: 0;
		height: 100%;
		width: 100%;
		background-image: url(../img/footer-shape.png);
		content: '';
		background-repeat: no-repeat;
		background-position: right bottom;
		z-index: -1;
	}
	&.footer-two {
		&::before {
			position: absolute;
			right: 0;
			bottom: 0;
			height: 100%;
			width: 100%;
			background-image: url(../img/footer-map.png);
			content: '';
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			z-index: -1;
			opacity: 0.5;
		}
		&::after {
			background-image: url(../img/footer-shape-2.png);
		}
	}
}

/*===== Go Top =====*/
.go-top-area {
	position: relative;
	z-index: 9999;
	.go-top {
		position: fixed;
		cursor: pointer;
		top: 0;
		right: 24px;
		color: #ffffff;
		background-color: $primary-color;
		z-index: 9999;
		width: 40px;
		text-align: center;
		height: 42px;
		line-height: 42px;
		opacity: 0;
		visibility: hidden;
		@include transition(0.9s);
		border-right: 0;
		i {
			position: absolute;
			top: 50%;
			left: -4px;
			right: 0;
			margin: 0 auto;
			font-size: 15px;
			@include transform(translateY(-50%));
			@include transition(0.5s);

			&:last-child {
				opacity: 0;
				visibility: hidden;
				top: 60%;
			}
		}
		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: -1;
			background-color: $primary-color;
			opacity: 0;
			visibility: hidden;
			@include transition(0.5s);
		}
		&:focus,
		&:hover {
			color: $white;
			&::before {
				opacity: 1;
				visibility: visible;
			}
			i {
				&:first-child {
					opacity: 0;
					top: 0;
					visibility: hidden;
				}
				&:last-child {
					opacity: 1;
					visibility: visible;
					top: 50%;
				}
			}
		}
		&.active {
			top: 98%;
			@include transform(translateY(-98%));
			opacity: 1;
			visibility: visible;
			border-radius: 0;
			right: 20px;
			@media #{$lg} {
				top: 93%;
			}
			@media #{$md} {
				top: 93%;
			}
		}
	}
}
.go-top-wrap {
	position: relative;
	.go-top-btn {
		display: inline-block;
		width: 40px;
		height: 40px;
		line-height: 40px;
		text-align: center;
		color: $white;
		top: 3px;
		z-index: 1;
		background: $primary-color;

		i {
			font-size: 20px;
			font-weight: 700;
			padding-left: 4px;
			color: $white;
		}

		&::after {
			z-index: -1;
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 40px;
			height: 40px;
			@include animation(ripple 1.6s ease-out infinite);
			opacity: 0;
			background: $primary-color;
		}

		&:hover {
			background-color: $black;
			color: $white;
		}
	}
}
