/*===========================
   Feedback
===========================*/
.testimonial-section {
	position: relative;
	background-color: $primary-color;
	z-index: 1;
	padding-top: 100px;
	padding-bottom: 230px;
	@media #{$xs} {
		padding-bottom: 130px;
	}
	&::after {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		background-image: url(../img/testimonial-bg.png);
		background-size: cover;
		background-position: center;
		content: '';
	}
	.section-title {
		h2,
		p.title-tag {
			color: $white;
		}
		h2 span {
			-webkit-text-stroke: 1px $white;
		}
		p.title-tag {
			&::before,
			&::after {
				background-color: $white;
			}
		}
	}
	.single-testimonial {
		padding-left: 70px;
		padding-top: 20px;
		position: relative;
		@media #{$lg} {
			padding-left: 45px;
		}
		@media #{$xs} {
			padding-left: 45px;
		}
		@media #{$tiny} {
			padding-left: 25px;
			padding-top: 10px;
		}
		.testimonial-author {
			padding-left: 100px;
			@media #{$lg} {
				padding-left: 120px;
			}
			@media #{$xs} {
				padding-left: 80px;
			}
			@media #{$tiny} {
				padding-left: 70px;
			}
			&,
			h4 {
				color: $white;
				font-weight: 700;
			}
			h4 {
				font-size: 24px;
				margin-bottom: 5px;
				@media #{$xs} {
					font-size: 20px;
				}
			}
			.author-pro {
				font-weight: 700;
				@media #{$xs} {
					font-size: 13px;
				}
			}
		}
		.testimonial-content {
			padding: 40px 70px 40px 100px;
			background-color: $white;
			margin-top: 20px;
			@media #{$lg} {
				padding: 60px 30px 40px;
			}
			@media #{$xs} {
				padding: 60px 30px 40px;
			}
			.rating {
				margin-top: 25px;
				li {
					display: inline-block;
					margin-right: 6px;
					color: $third-color;
				}
			}
		}
		.author-img {
			position: absolute;
			left: 0;
			top: 0;
			height: 140px;
			width: 140px;
			z-index: 2;
			border: 10px solid $white;
			box-shadow: 0px 10px 30px 0px rgba(39, 158, 100, 0.68);
			@media #{$xs} {
				width: 100px;
				height: 100px;
				border-width: 5px;
			}
			@media #{$tiny} {
				width: 85px;
				height: 85px;
			}
		}
	}

	ul.slick-dots {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		bottom: -100px;
		@media #{$xs} {
			bottom: -60px;
		}
		li {
			display: inline-block;
			margin: 0 5px;
			button {
				font-size: 0;
				height: 20px;
				width: 20px;
				border: 3px solid $white;
				background: transparent;
				border-radius: 50%;
				@media #{$xs} {
					height: 10px;
					width: 10px;
					border-width: 2px;
				}
			}
			&.slick-active button {
				background: $white;
			}
		}
	}
	&.style-two {
		background-color: #eff2f7;
		.section-title {
			p.title-tag {
				color: $primary-color;
			}
			h2 {
				color: $heading-color;
				span {
					-webkit-text-stroke: 1px $heading-color;
				}
			}
			p.title-tag {
				&::before,
				&::after {
					background-color: $primary-color;
				}
			}
		}
		.single-testimonial {
			.testimonial-author {
				h4 {
					color: $heading-color;
				}
				.author-pro {
					color: $primary-color;
				}
			}
			.author-img {
				box-shadow: 0px 10px 30px 0px rgba(206, 212, 222, 0.68);
			}
		}
		ul.slick-dots {
			li {
				display: inline-block;
				margin: 0 5px;
				button {
					border-color: $primary-color;
				}
				&.slick-active button {
					background: $primary-color;
				}
			}
		}
	}
}
