// Font Family
$hee: 'Heebo', sans-serif;
$pop: 'Poppins', sans-serif;
$rub: 'Rubik', sans-serif;

// Colors ---------------
$text-color: #686868;
$heading-color: #0a1026;
$primary-color: #279e64;
$secondary-color: #01baef;
$third-color: #ffc600;
$white: #fff;
$black: #000;
$black-soft: #7e7e7e;

// Responsive Variables
$laptop: 'only screen and (min-width: 1200px) and (max-width: 1600px)';
$lg: 'only screen and (min-width: 992px) and (max-width: 1200px)';
$md: 'only screen and (min-width: 768px) and (max-width: 991px)';
$xs: '(max-width: 767px)';
$sm: 'only screen and (min-width: 576px) and (max-width: 767px)';
$xxs: '(max-width: 574px)';
$tiny: '(max-width: 399px)';