@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="content-body">

    <div class="container-fluid mt-3 mb-3">
        <div class="row">
            <div class="col-lg-4 col-sm-12" style="cursor: pointer;">
                <div class="card-now">
                    <div class="card-body content">
                        <h3><b>Hoşgeldin</b></h3>
                        <div class="d-inline-block">
                            <h4>
                                noname<span> </span>nosurname
                            </h4>
                            <p class="mb-0">Son Giriş: 08-09-2022</p>
                        </div>
                        <span class="float-right display-5 opacity-5"><i class="icon-user "></i></span>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-12" style="cursor: pointer;">
                <div class="card-now">
                    <div class="card-body content">
                        <h3 class="card-title">Toplam Kullanıcı</h3>
                        <div class="d-inline-block">
                            <h3>
                                Admin : 0
                            </h3>
                        </div>
                        <span class="float-right display-5 opacity-5"><i class="icon-user-following"></i></span>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-12" style="cursor: pointer;">
                <div class="card-now">
                    <div class="card-body content">
                        <h3 class="card-title">Gelen Kutusu</h3>
                        <div class="d-inline-block">
                            <h3>
                                Gelen Mesajlar :0
                            </h3>
                        </div>
                        <span class="float-right display-5 opacity-5"><i class="icon-note"></i></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- #/ container -->
</div>