@model ProduKey.Entity.Setting
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="content-body" style="min-height: 788px;">

    <div class="row page-titles mx-0 ">

        <div style="width: 100%; height: 20px;  float: left; display: flex; justify-content: space-between; padding-left: 22px;">
            <h4 style="color: #1a1a27;">Site Adı</h4>
            <div class="col p-md-0">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">Seo Ayarları</a></li>
                </ol>
            </div>

        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="form-validation">
                            @using (Html.BeginForm("SettingSeoUpdate","Admin"))
                        {
                                <div class="form-group row">
                                    <div class="col-lg-12">
                                        <label class="col-form-label" for="company_name">Site Adı <span class="text-danger">*</span></label>
                                        <p class="text-muted m-b-15 f-s-12">Web sitenizin başlık alanını değiştiriyorsunuz.</p>
                                            @Html.TextBoxFor(x=> x.SiteName, new {@class="form-control"})

                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-lg-12">
                                        <label class="col-form-label" for="keywords">Site Anahtar Kelimeler <span class="text-danger">*</span></label>
                                        <p class="text-muted m-b-15 f-s-12">Web sitenizin öne çıkması için anahtar kelimelerini değiştiriyorsunuz. <br><code>örnek1, örnek2, örnek3..</code></p>
                                        @Html.TextBoxFor(x=> x.Keywords, new {@class="form-control"})

                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-lg-12">
                                        <label class="col-form-label" for="descriptions">Site Açıklaması <span class="text-danger">*</span></label>
                                        <p class="text-muted m-b-15 f-s-12">Web sitenizin öne çıkması için site açıklamasını değiştiriyorsunuz. <br><code>örnek1 - örnek2 - örnek3..</code></p>
                                        @Html.TextBoxFor(x=> x.Description, new {@class="form-control"})

                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-lg-12 d-flex justify-content-end">

                                        <button type="submit" class="btn btn-outline-success ">Güncelle</button>

                                    </div>
                                </div>

                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
